@import '../../../../shared/theme/conf';

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.search-width {
    margin-left: 10px;
    width: 45%;
}

table {
    width: 100%;
}

.profile {
    width: 50px;
    height: 50px;
}
.add_btn .material-icons{
    color: #fff !important;
}
:host /deep/ .mat-radio-button.mat-primary .mat-radio-inner-circle{
    background-color:#87c54c; 
}
:host /deep/ .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle,
:host /deep/ .mat-radio-outer-circle{
    border-color:#87c54c;
} 
.mat-icon-button.loyalty-edit{
    width:34px;
}
.profile_mob {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.mat-elevation-z8 {
    margin-top: 15px;
}

.view-details-btn {
    display: inline-block;
    width: auto;
}

.view-details-btn:hover {
    background: none;
}

.mat-icon-right {
    position: absolute;
    right: 0;
    top: 0px;
}

#eye_Password_invisible {
    display: none;
}

.mat-icon-right-confirm-password {
    position: absolute;
    right: 0;
    top: 0px;
}

#eye_Confirm_invisible {
    display: none;
}

.header {
    width: 70px;
    font-size: 12px;
}

.cell {
    word-break: break-all;
    font-size: 12px;
}

.mat-header-cell {
    color: black;
}

.mat-row,
.mat-header-row {
    text-align: left;
    background-color: #f7f7f7;
}

.sidebar-icon {
    display: none;
}

:host /deep/ .mat-sort-header-button {
    border: none;
    background: 0 0;
    display: flex;
    align-items: left;
    padding: 0;
    cursor: inherit;
    outline: 0;
    font: inherit;
    color: currentColor;
    text-align: left;
}

.mat-header-cell {
    margin-right: 10px;
}

.mat-cell {
    margin-right: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #404040;
}

.mat-table__message {
    text-align: center;
    padding-top: 20px;
}

.mat-row:nth-child(even) {
    background-color: white;
}

.mat-row:nth-child(odd) {
    background-color: #f7f7f7;
}

.mat-header-cell:first-of-type,
.mat-cell:first-of-type {
    padding-left: 23px;
}

.mat-header-cell:last-of-type {
    padding-right: 3px;
    justify-content: center;
}

.mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
    justify-content: center;
}

.mat-icon-button {
    text-align: left;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.mat-icon-button .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.add_btn {
    margin-top: -5px;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    display: flex;
    border-width: 0;
    /* border-bottom-width: 1px; */
    border-style: solid;
    align-items: center;
    box-sizing: border-box;
}

:host /deep/ mat-cell.mat-cell,
mat-header-cell.mat-header-cell {
    padding: 8px 0px 8px 0;
    line-height: 1.6;
}

.search-customer-container {
    max-width: 400px;
    margin: 0 auto;
}

.verification-icon {
    display: inline-block;
}

.close-icon {
    position: relative;
    float: right;
    right: 7px;
    // top:-44px;
    background: url(../../../../../assets/images/close-icon.png) 0 0 no-repeat;
    height: 20px;
    width: 20px;
    /* display: inline-block; */
    z-index: 1000;
    cursor: pointer;
}

.contact-details-content .email-icon-small {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.contact-details-content .contact-details {
    display: inline-block;
    vertical-align: middle;
}

.search-label {
    font-size: 14px;
    vertical-align: text-bottom;
    margin-right: 15px;
}

.badge-text {
    font-size: 12px;
    font-weight: normal;
}

.mat-icon-success {
    color: $success
}

.mat-icon-danger {
    color: $danger
}

.edit_button {
    float: right;
}

.edit_label {
    margin-bottom: 10px;
}

.badge-status {
    color: #f7f7f7;
    display: inline-block;
    border-radius: 25px;
    width: 60px;
    height: 25px;
    line-height: 19px;
    text-align: center;
}

.badge1 {
    background-color: green;
}

.badge0 {
    background-color: red;
}

.badge2 {
    background-color: red;
}

.badge3 {
    background-color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    mat-cell,
    mat-footer-cell,
    mat-header-cell {
        min-height: auto;
    }
}

// .edit-button{
//   width: 10px;
//   height: 30px;
//   display: inline-block;
//   min-width: auto;
//   padding: 0 11px;
// }
// .delete-button{
//   width: 10px;
//   height: 30px;
//   display: inline-block;
//   min-width: auto;
//   padding: 0 11px;
// }

// .cell-1 {
//   // flex: 0 0 5%;
//   position: relative !important;
//   padding: 0 0 0 15px !important;
//   margin-left: -12px;
//   // max-width: 5%;
// }
// .cell-2 {
//   // // flex: 0 0 5%;
//   position: relative !important;
//   padding: 0 0 0 15px !important;
//   padding-right: 5px;
//   margin-left: -20px;
//   // max-width: 5%;
// }
.title-text {
    margin-top: 21px;
}

:host /deep/ div.auth-inner-container div.auth-page {
    max-width: 100%;
    height: auto;
    overflow: visible;
    position: relative;
}

:host /deep/ .auth-container .auth-inner-container,
:host /deep/ div.auth-container {
    background: none
}

:host /deep/ .auth-inner-container .auth-page div.auth-card {
    padding: 0;
    border: none;
}

:host /deep/ .auth-logo {
    display: none;
}


.mat-table__message {
    text-align: center;
    padding-top: 20px;
}

.small-text {
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
}

.customer-data {
    margin-left: 10px;
}

.cust_row {
    margin-bottom: 10px;
    font-size: 15px;
}

.cust_row_city {
    margin-top: -30px;
}

.customer-details {
    margin-bottom: 15px;
}

.mat-small-icon {
    vertical-align: middle;
}

.profile-grid {
    margin-bottom: 30px;
}

.profile-desription {
    font-size: 16px;
}

.profile-label {
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

::ng-deep .manage-card {
    border: 1px solid #ccc;
}

:host /deep/.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $border-secondary;
    display: none;
}

::ng-deep .register-form {
    height: auto;
}

@media (max-width:1200px) {
    .desktop_card {
        display: none;
    }
}

@media(max-width:767px) {
    ::ng-deep .register-form {
        height: auto !important;
    }
}

.material-icons {
    font-size: 18px;
    vertical-align: middle;
}

.material-icon-edit {
    font-size: 22px;
    margin-left: 10px;
    color: #26253c;
}


//Voucher css start

.coupon-code {
    color: $btn-text-color;
    background: $btn-bg-primary;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: 15px;
}

.c-text1 {
    color: #87c54c;
    font-size: 14px;
}

.c-text2 {
    color: #282a3a;
    font-size: 30px;
    margin-top: 8px;
}

.c-text3 {
    color: #a1a1a1;
    font-size: 12px;
    margin-top: 10px;
}

.grid-main-text {
    display: inline-block;
}

.coupon-code-content {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-right: 30px;
}

.purchase-amount {
    font-size: 36px;
    color: #87c54c;
    display: inline-block;
    line-height: normal;
    margin-top: 57px;
}

.ruppee-icon {
    background: url(../../../../../assets/images/ruppe-icon1.png) center center no-repeat;
    width: 17px;
    height: 28px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;

}

.coupon-redeemed-text {
    color: #aaaaaa;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    position: relative;
    top: 5px;
    clear: both;
    overflow: hidden;
}

.coupon-redeemed {
    display: inline-block;
    background: #282a3a;
    height: 47px;
    float: right;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    width: 116px;
    line-height: 47px;
    margin-top: 57px;
    cursor: pointer;

}

.half-circle {
    width: 24px;
    height: 13px;
    display: inline-block;
    position: absolute;
    left: -11px;
}

.half-circle1 {
    background: url(../../../../../assets/images/half-circle1.png) 0 0 no-repeat;
    top: 0
}

.half-circle2 {
    background: url(../../../../../assets/images/half-circle2.png) 0 0 no-repeat;
    bottom: -1px;
}

.voucher-redeemed1 {
    font-size: 14px;
    display: block;
}

.voucher-redeemed2 {
    font-size: 18px;
    display: block;
}

.coupon-redeemed.get-code {
    background: #87c54c
}

.coupon-redeemed.get-code .voucher-redeemed2 {
    cursor: pointer;
}

.voucher-content {
    margin-bottom: 30px;
    margin-right: 2px;

    margin-left: 2px;
}

.coupon-content {
    width: 148px;
    display: inline-block;
    position: relative;
}

.coupon-container {
    display: flex;
    justify-content: flex-end;
    margin: -30px 0;
    align-content: center;
}

.coupon-content:before {
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    content: "";
    top: 0;
    border-left: 2px dashed #e1e1e1;
}

.get-code-container {
    flex: 0 0 148px;
}

@import '../../../../shared/theme/conf';
.steps{
    width:20px;
    height:20px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 1;
    top:14px;
    border:2px solid #eae8e8;
    background: #fff;
}
.steps.active{
    background: $step-active;
    width:15px;
    height: 15px;
    border-radius: 20px;
    position: relative;
    top: 0px;
    left: -1px;
}
.crossed-step{
    background: #87c54c url(../../../../../assets/images/step-icon.png) center center no-repeat;
    border:none;
    
    
}

.progress-bar{
    position: absolute;
    top:39px;
    left: 0;
    z-index: 1;
    height: 2px;
    overflow: visible;
    width:100%;
}

:host /deep/ div.mat-progress-bar-fill::after{
    background: #87c54c;
    animation:step-one 1.5s forwards;
   
}
:host /deep/ .ngx-gallery-icon .ngx-gallery-icon-content{
    color:#000;
}
:host /deep/ div.ngx-gallery-image-size-cover.ngx-gallery-image-wrapper .ngx-gallery-image{
    background-size: contain;
}

.milestone-marker{
    height: 13px;
    width:13px;
    display: inline-block;
    position: relative;
    margin-left: -8px;
    top: 16px;
    background: url(../../../../../assets/images/map_pin.png) 0 0 no-repeat;
    background-size:100%; 
    animation:step-two 0.9s forwards;
    cursor: pointer;
    left:0
}

.marker-arrow{
    position: absolute;
    bottom: -79px;
    left: 24px;
    z-index: 1;
    font-size: 50px;
    color: $step-crossed;
}
.milestone-marker-wrapper{
    position: relative;
    top:23px;
    z-index: 10;
}
:host /deep/ .mat-progress-bar-buffer{
    background-color: #eae8e8;
}




@keyframes step-one {
    0% {
        border-color: red;
        width:0%
    }
    100% {
        border-color: red;
        width:100%;
    }
  }
  @keyframes step-two {
    0% {
        left:0%
    }
    100% {
        left:100%;
    }
  }
 

// .step-list{
//     text-align: left;
// }
// .step-container .step-list:first-child{
//     text-align: left;
// }
// .step-container .step-list:last-child{
//     text-align: left;
// }
.step-container{
    padding-left:0px;
    display: flex;
    // text-align: center;
    justify-content: space-between;
    list-style: none;
    margin-top:-58px !important;
    height: 109px;
}
.step-wrapper{
    overflow: hidden;
    position: relative;
    padding-top:74px;
    margin-top:-12px;
}


.step-container .step-list{
    position: relative;
}
.step-container .step-list:last-child:before{
    content:none;
}
.range-ammount, .range-count{
    display: block;
    position: absolute;
    width: 100px;
    top:-10px;
    font-size:12px;
}
.range-ammount{
    top:41px;
    margin-left:-9px;
}
.range-count{
    color:#87c54c;
    margin-left:-5px;
}
.step-container .step-list:first-child .range-ammount, .step-container .step-list:first-child .range-count{
   margin-left:0;
}

.step-container .step-list:last-child .range-ammount, .step-container .step-list:last-child .range-count{
    right: 0;
    text-align: right;
    width:150px;
}
.fa-rupee:before, .fa-inr:before{
    position: relative;
    top:1px;
}
.milestone-text{
    font-weight: 500;
    color:#282a3a;
    margin:-35px 0 0;
    background: #dbf0e8;
    padding:10px;

}
.tab-group-wrapper{
    margin:30px 0;
}
.grid-inner{
    border:1px solid $grid-border;
    box-shadow: 0 0 5px $grid-border;
    padding:15px;
    .voucher-text{
        color: $fonts-color-secondary;
        font-size:$lg-text;
    }
    .voucher-offer{
        color: $fonts-color-secondary;
        font-size: $xxl-text;
        margin-top:20px;
    }
    .vouucher-details{
        font-size: 16px;
        color:#000;
        margin-top:5px;
    }
    .voucher-expiry{
        font-size: $sm-text;
        color:#9f9f9f;
        margin-top:5px;
    }
}
.coupon-code{
  color: $btn-text-color;
  background: $btn-bg-primary;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  right:30px;
  top:15px;
}

.c-text1{color:#87c54c; font-size: 14px;}
.c-text2{color:#282a3a; font-size: 30px;margin-top:8px;}
.c-text3{color:#a1a1a1; font-size: 12px;margin-top:10px;}

.grid-main-text{ display: inline-block;}
.coupon-code-content{ 
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-right:30px;
}
.purchase-amount{
    font-size: 36px;
    color: #87c54c; 
    display: inline-block;
    line-height: normal;
    margin-top:57px;
}
.ruppee-icon{
     background: url(../../../../../assets/images/ruppe-icon1.png) center center no-repeat;
     width: 17px;
     height: 28px;
     display: inline-block;
     margin-right:5px;
     position: relative;
    top: 2px;
   
}

.ruppee-icon.reward-type{
    background: url(../../../../../assets/images/percent-icon.png) center center no-repeat;
    width: 24px;
    top:0;
}
.coupon-redeemed-text{
    color:#aaaaaa;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    position: relative;
    top: 5px;
    clear: both;
    overflow: hidden;
}
.coupon-redeemed{
    display: inline-block;
    background: #282a3a;
    height: 47px;
    float: right;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    width:116px;
    line-height: 47px;
    margin-top:57px;
    cursor: pointer;

}
.half-circle{
    width:24px;
    height: 13px;
    display: inline-block;
    position: absolute;
    left:-11px;
}
.half-circle1{
    background: url(../../../../../assets/images/half-circle1.png) 0 0 no-repeat;
    top:0
}
.half-circle2{
    background: url(../../../../../assets/images/half-circle2.png) 0 0 no-repeat;
    bottom:-1px;
}
.voucher-redeemed1{
    font-size: 14px;
    display: block;
}
.voucher-redeemed2{
    font-size: 18px;
    display: block;
}
.coupon-redeemed.get-code{
    background: #87c54c
}
.coupon-redeemed.get-code .voucher-redeemed2 {
    cursor: pointer;
}
.voucher-content{
  margin-bottom:30px;
}
.coupon-content{
    width: 148px;
    display: inline-block;
    position: relative;
}
.coupon-container{
    display: flex;
    justify-content: flex-end;
    margin:-30px 0;
    align-content: center;
}
.coupon-content:before{
    position: absolute;
    left:0;
    width:2px; 
    height: 100%;
    content: "";
    top:0;
    border-left:2px dashed #e1e1e1;
}

.get-code-container{
    flex:0 0 148px;
}
.marker-tooltip{
    background: url(../../../../../assets/images/active-box.png) 0 0 no-repeat;
    width: 70px;
    height: 27px;
    position: absolute;
    top: -26px;
    left: -29px;
    display: none;
    font-size: 12px;
    color: #fff;
    text-align: center;
}
.milestone-marker:hover .marker-tooltip{
    display: block;
}
.no-records{
    text-align: center;
    font-size: 30px;
}
.campaign-content .purchase-amount{
    margin-top:37px
}
.campaign-content .c-text2{
    margin-top:-8px;
}
.campaign-content .coupon-redeemed{
    margin-top:40px
}
@media(max-width:1024px){
    .purchase-amount{
        font-size: 24px;
    }
    .ruppee-icon{
        top: 4px;
        background-size: 100%;
        width: 12px;
        height: 25px;
    }
    .c-text2{
        font-size: 24px;
    }
}
@media(max-width:767px){
    .milestone-text, .grid-inner .voucher-text, .grid-inner .vouucher-details{
        font-size: $default-text;
    }
    .milestone-text{
        margin:30px -15px -15px !important;
    }
    .step-wrapper{
        margin-top:30px;
        padding-top:0;
    }
    .step-container{
        flex-direction:column;
        height: 100%;
        align-content: space-between;
        margin-top:0 !important;
    }
    .step-list{
        width: 100%;
        line-height: normal;
        padding-bottom: 15px;
        margin-bottom: 15px;
        min-height: 66px;
    }
    .grid-inner .voucher-expiry{
        font-size:$xsm-text;
    }
    .grid-inner .voucher-offer{
        font-size: $xl-text;
    }
    .grid-inner{
        margin-bottom:15px;
    }
    .progress-bar{
        transform: rotate(90deg);
        transform-origin: 0% 50%;
        top:0px;
        margin-left:11px;
    }
    .step-container .step-list:first-child .range-ammount,
    .step-container .step-list:first-child .range-count{
        margin:0 15px 0 35px;
    }
    .step-container .step-list:last-child .range-count{
        text-align:left;
    }
    .range-count{
        display: inline-block;
        left:0;
        margin:0 15px 0 35px;
        position: relative;
        top:0px;
        width: 155px;
        font-size: 16px
    }
    .range-count i {
         background: url(../../../../../assets/images/ruppe-icon1.png) 0 0 no-repeat;
         width:10px;
         height: 13px;
         background-size: 100%;
         position: relative;
         top: 1px;
         margin-right:3px;
    }
    .range-count i:before{
        content: none
    }
    .step-container:before{
        content: none;
    }
  
    .milestone-marker-wrapper{
        position: absolute;
        top: 98px;
        left: 24px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
    .milestone-marker{
        top:0;
    }
    .marker-tooltip{
        transform: rotate(-90deg);
        top: -7px;
        left: -47px;
    }
    .step-container .step-list:last-child{
        margin-bottom:0;
        padding-bottom:0;
    }
    .steps{
        top:0;
        left:1px;
        position: absolute;
    }
    .range-ammount{
        display: none;
    }
    .steps.active{
        left:-2px;
    }
    .step-container .step-list .range-ammount, .step-container .step-list:last-child .range-ammount{
        text-align: left;
    }
    .coupon-code-content{
        background-size: 100%;
        color:#87c54c;
    }
    .voucher-grid{
        height:auto;
        text-align: center;
    }
    .coupon-redeemed{
        float: none;
        margin:30px auto;
        display: block;
    }
    .purchase-amount{
        margin-top:20px;
    }
    .mobile-text1{
        font-size: 14px;
        color:#87c54c;
        margin-top:10px;
    }
    .mobile-text2{
        font-size: 14px;
        color:#282a3a;
        margin-top:10px;
        max-width:90%;
    }
    .mobile-text3{
        font-size: 12px;
        color:#aaaaaa;
        margin-top:10px;
    }
    .mobile-content{
        padding-left:34px;
        padding-right:105px;
    }
    .mobile-code{
        position: absolute;
        right:0;
        top:35px;
    }
    .voucher-redeemed2{
        font-size: 13px;
        width: 95px;
        line-height: 35px;
        font-weight: 700;
        height: 35px;
        margin:0;
    }
    .coupon-redeemed-text{
        font-size: 9px;
    }
    
    :host /deep/ .mat-progress-bar .mat-progress-bar-background{
        display: none;
    }

    .campaign-content .c-text2{
        font-size: 19px
    }
    .campaign-content .purchase-amount{
        margin-top:17px;
    }
    .campaign-content .coupon-redeemed{
        margin-top:15px;
        width: auto;
    }
    .campaign-content .half-circle{
        display: none;
    }
    .campaign-content .coupon-code-content{
        width: 50%;
        padding-right:0;
        text-align: left;
    }
    .campaign-content .coupon-container{
        margin:0;
    }
    .campaign-content .coupon-content:before{
        display: none;
    }
    .campaign-title{
        margin-top:30px !important;
    }
    
}