.chart-title {
    border-bottom: 1px solid #87c54c;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
}



.graph-grid-row .mat-card {
    box-shadow: 0 0 10px #999;
}
// :host /deep/ .ngx-charts{
//     float: none !important;
//     width:100% !important;
// }

